*, ::after, ::before {
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Sniglet', cursive;
    font-weight: 100;
}

body {
    margin: 0;
    padding: 0;
}

.texts {
    height: 100vh;
    width: 100vw;
    background: url(Images/rain-tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#temp {
    margin-top: 15dvh;
    font-size: 10dvh;
}

#weather {
    text-transform: capitalize;
}